<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.kaif.mobile">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:name=".KaifApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/Theme.AppTheme">
    <activity
        android:name=".view.HomeActivity"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize|stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".view.LoginActivity"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>

        <data
            android:host="@string/redirect_uri_host"
            android:pathPrefix="@string/redirect_uri_path_prefix"
            android:scheme="@string/redirect_uri_scheme"
            tools:ignore="AppIndexingApiError"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".view.share.ShareArticleActivity"
        android:windowSoftInputMode="adjustResize|stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>

        <category android:name="android.intent.category.DEFAULT"/>

        <data android:mimeType="text/plain"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".view.DebatesActivity"
        android:parentActivityName=".view.HomeActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.HomeActivity"/>
    </activity>
    <activity
        android:name=".view.NewsFeedActivity"
        android:parentActivityName=".view.HomeActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.HomeActivity"/>
    </activity>
    <activity
        android:name=".view.HonorActivity"
        android:parentActivityName=".view.HomeActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.HomeActivity"/>
    </activity>
  </application>

</manifest>